body{
    background: radial-gradient(
        circle,
        rgba(67, 69, 112, 1) 3%,
        rgba(35, 36, 57, 1) 60%
      );
}
.info-box{
    position: relative;
    top: 10%;
    font-size: 2rem;
    color: #fff;
    letter-spacing: 4px;
}
.info-box-2{
    position: relative;
    top: 15%;
    color: #fff;
    letter-spacing: 6px;
}